{% extends "@Tsugi/Page.twig" %}

{% block content %}
<!-- Rendered from Attend.twig -->
<p>
{{ app.tsugi.output.welcomeUserCourse }}
</p>
<p>
<form method="post">
{{ __('Enter code:') }}
{% if app.tsugi.user.instructor %}
    <input type="text" name="code" value="{{ old_code }}">
    <input type="submit" class="btn btn-normal" name="set" value="{{ __('Update code') }}">
    <input type="submit" class="btn btn-warning" name="clear" value="{{ __('Clear data') }}"><br/>
{% else %} 
    <input type="text" name="code" value="">
    <input type="submit" class="btn btn-normal" name="set" value="{{ __('Record attendance') }}">
{% endif %}
</form>

{% if app.tsugi.user.instructor %}
    <table border="1">
    <tr><th>{{ __('User') }}</th><th>{{ __('Attendance') }}</th><th>{{ __('IP Address') }}</th></tr>
    {% for row in rows %}
        <tr><td>{{row.user_id}}</td><td>{{ row.attend }}</td><td>{{ row.ipaddr }}</td></tr>
    {% endfor %}
    </table>
{% endif %}


{% endblock %}
